.slide-right {
  animation: slide_right 2s;
}

@keyframes slide_right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-right-2 {
  animation: slide_right 3s;
}

@keyframes slide_righ_2 {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.center {
  display: flex;
  align-items: center;
  gap: 10px;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (width > 700px) {
  
  .experience {
    display: grid;
    grid-template-columns: 210px 1fr;
  }
}


